@model ContactUs
<div class="pt-1 text-md-center">
    <p class="h3">Get in touch</p>
    <p>Contact us for best deals</p>
</div>
<form asp-action="Contact" asp-controller="Home" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="m-3 row">
        <div class="col-md-4">
            <input type="text" class="form-control form-text" placeholder="Enter your name" asp-for="FullNames"/>
        </div>
        <div class="col-md-4">
            <input type="email" class="form-control form-text" placeholder="Enter your email" asp-for="Email" />
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control form-text" placeholder="Enter yout phone number" />
        </div>
    </div>
    
    <div class="m-4">
        <textarea class="text-message form-control" placeholder="Your message" asp-for="Message"></textarea>
    </div>
    <div class="text-md-center">
        <div class="text-center mb-1">
            <button class="site-btn" type="submit">Submit</button>
        </div>
    </div>
</form>