@model string
<div class="m-2 text-center">
    <h1>Page was not found</h1>
    <p >@Model</p>
    <div class="m-2">
        <a class="site-btn" asp-action="Index" asp-controller="Home">Home</a>
    </div>
</div>