<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <!--  Bootstrap -->
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" asp-href-include="/styles/main.css"/>
    <link rel="stylesheet" asp-href-include="/styles/account.css"/>
    <title>Explore: @ViewData["Title"]</title>
</head>
<body>
    <!-- Navigation -->
    <div class="head-layout container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <h1 class="page-title">
                        <a asp-action="Index" asp-controller="Home">Explorer</a>
                    </h1>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="sign-in-opt">
                        <div class="buttons" id="menu-1">
                            <a class="button-green button-medium" asp-controller="Account" asp-action="Register">Sign-up</a>
                            <a class="button-medium button-blue" asp-controller="Account" asp-action="Login">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navigation navbar nav-pills navbar-expand-md">
        <div class="container">
            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#MyNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="MyNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" 
                        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Books
                        </a>

                        <div class="dropdown-books dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-books-item dropdown-item" asp-action="List" asp-controller="Books">Books</a>
                            <a class="dropdown-books-item dropdown-item" href="#">Top books</a>
                            <a class="dropdown-books-item dropdown-item" href="#">Advance Search</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="About">About</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a></li>

                </ul>
            </div>
        </div>
    </div>

    <!--A stand-alone -->
    <div class="templete">
        @RenderBody()
    </div>

    <div class="container mt-3">
        <div class="border-top footer text-muted text-center small">
            <p>
                Created by: Phiwokwakhe Khathwane<br />
                <span class="fas fa-copyright"></span>@DateTime.Now.Year
            </p>
        </div>
    </div>

    <!-- JavaScript -->
    <script asp-src-include="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>

