@model CartViewModel
@{
    ViewData["Title"] = "Order";
}
<div class="container">
    <nav aria-label="breadcrumb" class="mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cart</li>
        </ol>
    </nav>

    <div class="section-body shadow">
        <div class="cart">
            <h1>Shopping Cart</h1>
            <hr/>
            
        </div>
    </div>
</div>