<div style="margin-top:15px;">
    <div id="info">
        <h1>Why chose <span class="platform"> Explorer?</span></h1>
    </div>
    <ul class="tick-list">
        <li><strong>Start using The Explorer in under 5 minutes</strong></li>
        <li><strong>Free for up to 2000 books or titles</strong></li>
        <li>No hardware, infrastructure, or software costs</li>
        <li>No installation or ongoing maintenance required</li>
        <li>Simple setup—no technical skills needed</li>
        <li>Access your library system from any internet-enabled device</li>
        <li>Easily scale to support multiple branches</li>
        <li>Safe, secure, and reliable platform</li>
        <li>Upgrade anytime to the affordable <strong>premium plan</strong> for more features</li>
    </ul>

    <div class="buttons" style="margin-bottom:20px;margin-top:20px;">
        <a class="btn button-blue button-medium" href="#">View all features</a>
        <a class="btn button-green button-medium" href="#">See Available plans</a>
    </div>

</div>