@model LogInViewModel;
@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="section-body row shadow p-2 content-align-centered">
        <div class="row">
            <div class="col-md-5 visible-lg-block">
               <partial name="_SideBenefits" />
            </div>
            <div class="col-md-7">
                <div class="login-form">
                    <form method="post" asp-action="Login" asp-controller="Account">
                        <div class="form">
                            <h2>Welcome back</h2>
                            <div class="form-element">
                                <label asp-for="Email" class="form-label">Email</label>
                                <input type="text" id="email" placeholder="Enter email" asp-for="Email" />
                            </div>
                            <div class="form-element">
                                <label asp-for="Password" class="form-label">Password</label>
                                <input type="password" id="password" placeholder="Enter password" asp-for="Password" />
                            </div>

                            <div class="form-element">
                                <input type="submit" class="button-green" value="LogIn" />
                            </div>
                            <div class="form-element">
                                <a href="#">Forgotten password?</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>