@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row shadow p-2">
        <div class="col-md-7 ">
            <div id="registration" class="box-shadow">
                <h1>Register for exploration</h1>
                <p>
                    Getting started with <span class="platform">The Explorer</span> is completely free for up to <strong>2000</strong>
                    books or titles. Setup takes less than 5 minutes. Start with the <strong>basic plan</strong>, and upgrade to our
                    affordable <strong>premium plan</strong> if you need access to more titles or advanced features.
                </p>
                <div class="seperator-white"></div>
                <div class="form-container">
                    <form method="post" asp-action="Register" asp-controller="Account">
                        <div style="display:none;">
                            <!--This will serve for all hidden controls that need to be passed here.-->
                        </div>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <fieldset>
                            <div class="input text">
                                <label for="FirstName">@Html.DisplayNameFor(b => b.FirstName)</label>
                                <input autocomplete="off" type="text" placeholder="Enter your first name" asp-for="FirstName"
                                       id="FirstName" />
                                <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
                            </div>
                            <div class="input text">
                                <label for="LastName">@Html.DisplayNameFor(b => b.LastName)</label>
                                <input autocomplete="off" type="text" placeholder="Enter your last name" asp-for="LastName"
                                       id="LastName" />
                                <div><span asp-validation-for="LastName" class="text-danger"></span></div>
                            </div>
                            <div class="input text">
                                <label for="Email">@Html.DisplayNameFor(b => b.Email)</label>
                                <input autocomplete="off" type="email" placeholder="Enter your emial address" asp-for="Email"
                                       id="Email" />
                                <div><span asp-validation-for="Email" class="text-danger"></span></div>
                                <div class="form-hints">
                                    this email will also be used to log-in.
                                </div>
                            </div>
                            <div class="input text">
                                <label for="Contact">@Html.DisplayNameFor(b => b.ContactNumber)</label>
                                <input autocomplete="off" type="text" maxlength="10" min="10" placeholder="Enter your phone number" asp-for="ContactNumber"
                                       id="Contact" />
                                <div><span asp-validation-for="ContactNumber" class="text-danger"></span></div>

                                <div class="form-hints">
                                    your phone number should start with a 0 and must be 10 digits, e.g:0700000000
                                </div>
                            </div>

                            <section class="password-section">
                                <div class="input password required">
                                    <label for="Password">Password</label>
                                    <input autocomplete="off" type="password" required placeholder="Enter password" asp-for="Password"
                                           id="Password" />
                                    <div><span asp-validation-for="Password" class="text-danger"></span></div>
                                </div>
                                <div class="input password required">
                                    <label for="CPassword">Confirm Password</label>
                                    <input autocomplete="off" type="password" required placeholder="Re-enter password" asp-for="ConfirmPassword"
                                           id="CPassword" />
                                    <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
                                </div>
                            </section>
                        </fieldset>

                        <div class="terms-conditions">
                            For now I leave nothing, but terms and conditions go here.
                        </div>
                        <div class="submit">
                            <input type="submit" value="I agree, please register me" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--col-md-4 visible-md-block visible-lg-block-->
        <div class="col-md-5 visible-lg-block">
           <partial name="_SideBenefits" />
        </div>
    </div>
</div>