@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container py-5">
    <div class="row justify-content-center shadow p-4 rounded bg-dark text-white">
        <div class="col-lg-7">
            <div id="registration">
                <h1 class="mb-3">Register for Exploration</h1>
                <p>
                    Getting started with <span class="platform">The Explorer</span> is completely free for up to <strong>2000</strong>
                    books or titles. Setup takes less than 5 minutes. Start with the <strong>basic plan</strong>, and upgrade to our
                    affordable <strong>premium plan</strong> if you need access to more titles or advanced features.
                </p>
                <hr class="bg-secondary" />
                <form method="post" asp-action="Register" asp-controller="Account" class="needs-validation" novalidate>
                    <div class="text-danger mb-3" asp-validation-summary="ModelOnly"></div>
                    <div class="mb-3">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-control" autocomplete="off" placeholder="Enter your first name" id="FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control" autocomplete="off" placeholder="Enter your last name" id="LastName" />
                        <span asp-validation-for="LastName" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" autocomplete="off" type="email" placeholder="Enter your email address" id="Email" />
                        <span asp-validation-for="Email" class="text-danger small"></span>
                        <div class="form-text text-light">
                            This email will also be used to log in.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ContactNumber" class="form-label"></label>
                        <input asp-for="ContactNumber" class="form-control" autocomplete="off" maxlength="10" placeholder="Enter your phone number" id="Contact" />
                        <span asp-validation-for="ContactNumber" class="text-danger small"></span>
                        <div class="form-text text-light">
                            Your phone number should start with a 0 and must be 10 digits, e.g: 0700000000
                        </div>
                    </div>
                    <div class="row g-3 mb-3">
                        <div class="col-md-6">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" autocomplete="off" type="password" placeholder="Enter password" id="Password" />
                            <span asp-validation-for="Password" class="text-danger small"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="ConfirmPassword" class="form-label">Confirm</label>
                            <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" type="password" placeholder="Re-enter password" id="CPassword" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input d-inline" type="checkbox" id="termsCheck" required>
                            <label class="form-check-label d-inline" for="termsCheck">
                                I agree to the <a href="#">terms and conditions</a>.
                            </label>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 d-none d-lg-block">
            <partial name="_SideBenefits" />
        </div>
    </div>
</div>