/*Register Page*/
/*Remove the side block at a certain scree width*/
@media(max-width:750px){
    .visible-lg-block, .visible-md-block {
        display: none !important;
    }
}

#registration h1, #info h1, .platform, .form h2 {
    color: #156295;
}

.platform {
    font-weight: bold;
}

#registration h1, #info h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.5em;
}

/*Right side dissapearing column*/
.tick-list {
    padding-left: 0;
}
.tick-list li {
    list-style-image: url(/images/tick.png);
    list-style-position: outside;
    margin-left: 30px;
    padding-left: 5px;
    padding-bottom: .3em;
}


/*Left side responsice column*/
/*Register form*/
.form-container {
    margin-bottom: 10px;
    margin-top: 30px;
}

.input.text, .input.password {
    background: rgba(31, 141, 214, 0.03);
    border: none;
    border-top: 1px solid rgba(31, 141, 214, 0.4);
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px 10px;
}

@media (max-width: 750px) {
    .form-container .input label {
        display: block;
    }
}

.form-container .input label {
    color: #666;
    font-weight: normal;
    text-shadow: 0px 0px 1px #ccc
}

form label {
    display: inline-block;
    font-weight: normal;
    font-size: 1em;
    color: #444;
    vertical-align: top;
    width: 120px;
    margin-right: 10px;
    padding-top: 3px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

form .text input, .form-container .password input {
    width: 80%;
}

.form-container .input input, .form-container .input textarea, .form-container .input select {
    color: #555;
    padding: 5px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 1px #ddd;
    border-radius: 3px;
    background: #ffffff;
}

@media (max-width: 750px) {
    .form-container .text input, .form-container .number input, .form-container .password input, .form-container .select select {
        min-width: 90%;
    }
}

@media (max-width: 750px) {
    .form-horizontal .input .error-message, .input .form-hints {
        margin-left: 0;
    }
}
.hints, .form-hints {
    font-size: .85em;
    color: #666;
    margin-left: 135px;
}

.form-container .submit {
    padding-left: 0px;
    margin-top: 15px;
}

.form-container .submit input {
    background: #156295;
    border-color: #156295;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border: 1px solid #fff;
    font-size: 14px;
    padding: 6px 20px;
    border-radius: 3px;
}




/*Login form*/
.popup {
    position: fixed;
    align-content: center;
    text-align: unset;
    font-size: 1.1em;
    left: -1530%; /*Hide control*/
    top: 40%;
    padding: 20px 30px;
    z-index: 10000;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #f5f5f5;
    box-shadow: 1px 1px 2px 1px #aaa;
    opacity: 0;
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms
}
/*To show the pop-up log-in form*/
.popup active {
    left: 30%;
    top: 40%;
    opacity: 1;
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-
}
.login-form {
    width: 300px;
    padding: 10px;
    text-align:left;
}

.login-form .submit{
    padding-left: 0;
    margin-top: 0;
}
@media (max-width: 750px) {
    .login-form .form {
        border-left: none;
        padding-left: 0;
    }
}

.form h2 {
    margin:10px 0 10px;
    text-align:center;
}

.button-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.form .form-element {
    margin:15px 0;
}

.form .form-element label {
    font-size:14px;
}

.form .form-element input[type="text"],
.form .form-element input[type="password"] {
    display:block;
    margin-top:5px;
    width:100%;
    padding:10px;
    outline:none;
    border:1px solid #aaa;
    border-radius:5px;
}

.form .form-element input[type="submit"]{
    width:100%;
    height:40px;
    border:none;
    outline:none;
    border-radius:10px;
}

.form .form-element a {
    display:block;
    text-align:right;
    border:none;
    box-shadow:none;
    text-decoration:none;
    font-weight:600;
    margin-bottom:-30px;
}